/*Page Structure*/
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
:root{
	--white-color: #e4f6f7;
	--black-color: #2d232e;

	--primary-color: #369f88;
	--secondary-color: #158b92;
	--ternary-color: #1c5177;
	--extra-color1: #24235b;
	--extra-color2: #521b55;

	/*--primary-color: #521b55;
	--secondary-color: #24235b;
	--ternary-color: #1c5177;
	--extra-color1: #158b92;
	--extra-color2: #369f88;*/
}
body{
	background-color: var(--white-color);

	font-family: serif, sans-serif;
/*	font-family: 'Nerko One', cursive;*/
/*	font-family: 'Bebas Neue', cursive;*/
	color: #2d232e;
	font-size: 1.25em;
	text-align: justify;
  	text-justify: inter-word;

	padding: 0px 50px 0px 50px;
}
li{
	list-style: none;
	padding-left: 25px;
}


/*Header Footer*/
.highlight
{
	opacity: 1;
	background-color: var(--primary-color); 
	border: 5px solid var(--secondary-color);
	border-left: 0px;
	border-right: 0px;
	margin-right: -50px;
	margin-left: -50px;
}
.top, footer{
	text-align: center;
}

#go-to-top{
	float: right;
	margin-right: 10px;
	padding: 0px 5px 0px 5px;
	font-weight: bolder;
	border: 3px solid;
	border-bottom: 0px solid;
}
#go-to-top:link, #go-to-top:visited{
	background-color: var(--white-color);
	border-color: var(--secondary-color);
}
#go-to-top:hover, #go-to-top:active{
	color : var(--white-color);
	background-color: var(--secondary-color);
	border-color: var(--white-color);
}

/*Color Schemes*/
.color-box{
	margin: 50px 0px 50px 0px;
}
.color-pallete{
	padding: 20px 30px 20px 30px;
	border-radius: 100%;
	margin: 0px 10px 0px 10px;
}
.color-pallete:hover{
	padding: 25px 35px 25px 35px;
}
.color1{
	background-color: var(--primary-color);
}
.color2{
	background-color: var(--secondary-color);
}
.color3{
	background-color: var(--ternary-color);
}
.color4{
	background-color: var(--extra-color1);
}
.color5{
	background-color: var(--extra-color2);
}
.colorW{
	background-color: var(--white-color);
}
.colorB{
	background-color: var(--black-color);
}

/*Typographies*/
.col-6{
	float: left;
	width: 50%;
	padding: 2%;
}
.nerko-one{
		font-family: 'Nerko One', cursive;
}
.bebas-neue{
	font-family: 'Bebas Neue', cursive;
}
.center{
	text-align: center;	
}
/**/
a{
	text-decoration: none;
}
a:link, a:visited{
	color: var(--black-color);
}
a:hover, a:active{
	color: var(--secondary-color);
/*	font-size: 1.05em;*/
}
.highlight a:hover, .highlight a:active{
	color: var(--white-color);
/*	font-size: 1.05em;*/
}

h1,h2,h3,h4{
	color: var(--ternary-color);
}
h4{
	font-size: 1.10em;
	margin-top: 15px;
}
h3{
	font-size: 1.25em;
	margin-top: 15px;
}
h2{
	font-size: 1.75em;
	margin-top: 20px;
}
h1{
	font-size: 2.0em;
	margin-top: 25px;
}
hr{
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}